<?xml version="1.0" encoding="utf-8"?>
<configuration>

  
  
  
  
	<appSettings>
    <!--value==0表示需要手动操作选择采集范围，除0之外都会采集全部数据，注意0需要用引号引起来-->
		<add key="autoRun" value="0"/>
    
    
    <!--value=1 表示采集 采集源列表； value=2表示采集 采集关键字表-； value=0 表示采集所有 -->
    <add key="sourceType" value="1"/>
	</appSettings>
  
  
  
  
  
  
  
  
  
  
  <connectionStrings>
    <add name="Idata" connectionString="data source=120.79.196.8; initial catalog=Idata; user id=zhuyuan;password=hndfh2010!"/>
  </connectionStrings>
</configuration>
